.row-fluid{:style => "margin-top: 15px;"}
  .alert.alert-info{:role => "alert"}
    %table{:border => "0", :width => "100%"}
      %tbody
        %tr
          %td
            %b Welcome to the Diaspora* Network! If you like it support us
            = succeed "." do
              %a.alert-link{:href => "https://www.paypal.com/al/cgi-bin/webscr?cmd=_flow&SESSION=Ts2Uj-CXfrhg-0uN7ZjhFm0a6CvA_0VCQ4YALeP5fSYIUYGD3IjxEKXwlZa&dispatch=5885d80a13c0db1f8e263663d3faee8d64ad11bbf4d2a5a1a0d303a50933f9b2", :target => "_blank"} with a small donation
          %td{:align => "right"}
            %a.btn.btn-info.media-object{:href => "https://www.paypal.com/al/cgi-bin/webscr?cmd=_flow&SESSION=Ts2Uj-CXfrhg-0uN7ZjhFm0a6CvA_0VCQ4YALeP5fSYIUYGD3IjxEKXwlZa&dispatch=5885d80a13c0db1f8e263663d3faee8d64ad11bbf4d2a5a1a0d303a50933f9b2", :role => "button", :target => "_blank"} Donate
        - width = donationWidth()
        - if width > 0
          %tr
            %td{:colspan => "2", :style => "padding-top: 10px;"}
              .progress
                .progress
                  .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{width}", :role => "progressbar", :style => "width:#{width}%"}
                    #{width}%
