<style type="text/css">
  body {
    margin-top: 80px;
    background-color: white;
    background-image : none;
  }

  li {
    list-style: none;
  }

  h1 {
    font-size: 85px;
  }

  #steps {
    text-align: center;
  }

  #links {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  #links .section {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    width: 24%;
    max-width: 24%;
  }

  #change-page {
    color: #999;
    text-align: center;
    font-style: italic;
  }

  #info {
    width: 100%;
    overflow: hidden;
  }

  #info .row {
    float: left;
    width: 33.333%;
  }

  .helpful {
    cursor: help;
  }

  .row_centered {
    margin: auto;
    width: 700px;
    text-align: center;
  }

  .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
  }

  .btn-primary {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
  }

  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
  }
</style>

<div id="steps">
  <img src="dar_1anio.png" alt="">
    <br>
    <br>
  <div class="row_centered">
    <a href="login"><button class="btn btn-success">Login</button></a>
    <a href="users/sign_up"><button class="btn btn-primary">Register</button></a><br />
    <br />
    <h2>Descentralización</h2>
				<img src="assets/icons/cog.png" />

				<p>A diferencia de las redes sociales tradicionales que son controladas por grandes corporaciones en grandes datacenters, centralizando to da la información de los usuarios, Diaspora* funciona con pequeños servidores, sin control central, dispersos en diferentes partes del mundo. Esta es una buena manera de garantizar soberanía.<a href="https://diasporafoundation.org/about" target="_blank" title="Diaspora Foundation">Sepa más...</a></p>
			</div>

			<div class="span4">
				<h2>Libertad</h2>
				<img src="assets/icons/smiley_laughing.png" />

				<p>Sé quien quieras en Diaspora*. No necesitamos saber tu identidad real. Podés interactuar con cualquier persona como quieras. El único límite es tu imaginación. Diaspora* además es Software Libre, su código es transparente y su uso es libre. Está producido en comunidad para el bien de la sociedad.<a href="https://diasporafoundation.org/about#freedom" target="_blank" title="Diaspora Foundation">Sepa más </a>O comience <a href="users/sign_up">creando su cuenta</a>.</p>
			</div>

			<div class="span4">
				<h2>Privacidad</h2>
				<img src="assets/icons/pen_write.png" />

				<p>En Diaspora* sos el único dueño de tu información. No habrá contratos, ni "letra chica" ni nada que le otorgue a empresas, gobiernos o a cualquier tercero el derecho a utilizarla. En Diaspora* tus amigos, tus gustos o hábitos o el contenido que publiques, son tuyos y de nadie más.  Además, podés decidir quién puede ver lo que compartis utilizando aspectos. <a href="https://diasporafoundation.org/about#privacy" target="_blank" title="Diaspora Foundation">Sepa más...</a></p>
    <br />
  </div>
</div>
</div>

